.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile-img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.title-text {
  text-align: left;
}

#animated-text {
  font-size: 24px;
}



.code-section {
  background-color: #282c34;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Courier New', monospace;
}

.comment {
  color: #5C6370;
}

.keyword {
  color: #c678dd;
}

.string {
  color: #98c379;
}

.value {
  color: #d19a66;
}


.profile-img {
  width: 50px;
  height: 50px;
}

.about-img {
  width: 70px;
  height: 70px;
}
